html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    letter-spacing: .05em;
    color: black;
    font-family: "MSゴシック";
}
.wrapper{
    max-width: 1200px;
    margin: 3rem auto;
    padding: 2rem 5rem;
}
img{
    width: 100%;
    object-fit: cover;
}
h2{
    font-size: 5rem;
    margin:0 0 70px;
    text-align: center;
}
h3{
    font-size: 2.5rem;
    margin: 0 0 16px;
    text-align: center;
}
p{
    font-size: 1.4rem;
    font-family: "MSゴシック";
}
li{
    list-style: none;
}

.komidasi{
    text-align: center;
    margin-bottom:3rem ;
    margin-top: 3rem;
}
h3{
    font-size: 4rem;
    display: inline-block;
    border-bottom: 1px solid #282f35;
}  
h4{
    font-size: 2rem;
}   
/*header*/
.sns-img{
    width: 6rem;
}
.katariba-logo{
    width: 12rem;
}
header .katariba-logo{
    width: 20rem;
}
.sanka-button{
    width: 20rem;
    height: 5rem;
    border-radius: 8px;
}

/*hoverアニメーション*/
.sanka-button:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
  }
  .mottosiru img:hover{
    /*box-shadow: 10px 10px 10px rgba(0,0,0,0.5);*/
    transform: translateY(-10px);
    transition-duration: 0.5s;
  }

  .sns-img:hover{
    transform: scale(1.2) rotate(9deg);
    transition-duration: 0.5s;
  }
  
  


.header-inner{
    display: flex;
    justify-content: space-between;
}
.header-right{
    display: flex;
    padding: 1rem;
}
.sns-logo{
    margin: auto 1rem;
}
.insta-logo{
    border-radius: 1.2rem;
}

.header-rightright{
    margin: auto 1rem;
}


.header{
    padding: 1.9rem 3rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.header.fixed{
    position: fixed;
    background-color: #282f35;
    padding: 3rem;
    width: 100%;
    /*height:50px;*/
    transition: .3s;
}
  



/*fv*/
.fv{
    height: 100vh;
    position: relative;
}
.fv img{
    height: 100vh;
    object-fit: cover;
}
.main-copy{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    color: rgb(61, 57, 57);
    text-align: center;
}
.en-copy{
    font-weight: bold;
    font-size: 5rem;
    font-family: "MSゴシック";
}
/*キャッチコピーアニメーション*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title {
  overflow: hidden;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 2.5s;
  color: #aa8f7b;
  font-family: 'Josefin Sans', sans-serif;
}

.title span {
  display: block;
  transform: translate(100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 2.5s;
}

.title.-visible,
.title.-visible span {
  transform: translate(0, 0);
}

.sentence {
  overflow: hidden;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  font-family: "Yu Gothic Medium";
  font-size: 16px;
  text-align: center;
}

.sentence span {
  display: block;
  transform: translate(100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.sentence.-visible,
.sentence.-visible span {
  transform: translate(0, 0);
}

/****** Base style. ******/
/*body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}*/

/*profile*/
.profile{
    border: 1px solid #282f35;
    border-radius: 24px;
    margin-top: 3rem;
    
}
.profile-inner{
    display: flex;
    padding: 0 auto;
}
.profile-left{
    width: 45%;
    text-align: right;
}
.profile-left img{
    width: 60%;
}
.profile-right{
    width: 45%;
    margin-left: 8rem;
}
.profile-right-above{
    display: flex;
    justify-content: space-between;
}
.name{
    padding: 2rem 2rem 2rem 0;
}
.furigana{
    display: block;
    font-size: 1rem;
}
.zikosyoukaibun{
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 2rem;
   
}

.mottosiru img{
    width: 20%;
    display: block;
    margin: 0 auto;
}
/*ストーリー*/
.story-bun{
    max-width: 960px;
    margin: 0 auto;
    line-height: 2;
}
.story-bun p{
    margin-bottom: 25px;
}
.syomei{
    text-align: right;
}

/* 内容*/
.naiyou-inner{
    display: flex;
}
.naiyou-left{
    width: 50%; 
    margin-right: 1rem;  
}
.naiyou-right{
    width: 50%;
}
.naiyou-left p{
    margin-bottom: 25px;
}
.ryoukin img{
    width: 30%;
    display: block;
    margin: 2rem auto;
}
.sanka{
    display: block;
    margin: 2rem auto;
    text-align: center;
}



/*参加方法*/
.sankahouhou-bun{
    text-align: center;
    
}
.sankahouhou p{
    font-size: 2rem;
}

/*質問*/
.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa .cp_actab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 0 1em 0;
	color: #1b2538;
}
.cp_qa .cp_actab input {
	position: absolute;
	opacity: 0;
}
/* 質問 */
.cp_qa .cp_actab label {
	font-weight: bold;
	line-height: 1.6em;
	position: relative;
	display: block;
	margin: 0 0 0 0;
	padding: 1em 2em 1em 2.5em;
	cursor: pointer;
	text-indent: 1em;
	border-radius: 0.5em;
	background: rgba(27,37,56,0.1);
}
.cp_qa .cp_actab label::before {
	font-family: serif;
	font-size: 1.5em;
	margin-left: -2em;
	padding-right: 0.5em;
	content: 'Q';
}
.cp_qa .cp_actab label:hover {
	transition: all 0.3s;
	color: #00838f;
}
/* --質問の＋アイコン */
.cp_qa .cp_actab label::after {
	font-size: 1.7em;
	font-weight: bold;
	line-height: 2em;
	position: absolute;
	top: 0;
	right: 0;
	content: 'A';
	display: inline-block;
	width: 2em;
	height: 2em;
	-webkit-transition: transform 0.4s;
	        transition: transform 0.4s;
}
/* 答え */
.cp_qa .cp_actab .cp_actab-content {
	position: relative;
	overflow: hidden;
	max-height: 0;
	padding: 0 0 0 2.5em;
	-webkit-transition: max-height 0.2s;
	        transition: max-height 0.2s;
	border-radius: 0 0 0.5em 0.5em;
}
.cp_qa .cp_actab .cp_actab-content::before {
	font-family: serif;
	font-size: 1.5em;
	position: absolute;
	margin: 0.4em 0 0 -1em;
	padding: 0;
	content: 'A';
}
.cp_qa .cp_actab .cp_actab-content p {
	margin: 1em 1em 1em 0;
}
/* 質問を開いた時の仕様 */
/* --答えの高さ */
.cp_qa .cp_actab input:checked ~ .cp_actab-content {
	max-height: 40em;
	border: 10px solid rgba(27,37,56,0.1);
}
/* 質問をクリックした時のアイコンの動き */
.cp_qa .cp_actab input:checked ~ label {
	color: #00838f;
	border-radius: 0.5em 0.5em 0 0;
}
/* 質問をクリックした時の+の動き */
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

/*footer*/
footer{
    text-align: center;
}


/*.burger-btn{
    display: none;
}
/*ハンバーガーメニュー*//*
    .burger-btn.cross .bar-top{
        transform: rotate(45deg) translate(8px, 8px);
        transition:.3s;
    }
    .burger-btn.cross .bar-mid{
        opacity: 0;
        transition: .3s;
    }
    .burger-btn.cross .bar-bottom{
        transform: rotate(-45deg) translate(8px,-8px);
        transition: .3s;
    } 
    body.noscroll{
        overflow: hidden;
    }

    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
    }*/

    /*タブレット*/
@media (max-width:1020px) and (min-width:768px){
    /*header*/
    header .katariba-logo{
        width:12rem;
    }
    .sns-img{
        width: 3rem;
    }
    .en-copy{
        font-weight: bold;
        font-size: 3rem;
        font-family: "MSゴシック";
    }
}

/*スマートフォン*/
@media screen and (max-width:768px){
    html{
        font-size: 62.5%;
    }
    body{
        font-size: 1rem;
        letter-spacing: .05em;
        color: black;
        font-family: "MSゴシック";
    }
    .wrapper{
        margin: 0 auto;
        padding: 1rem;
    }
    h2{
        margin: 1rem auto;
    }
    .komidasi{
        margin: 1.5rem;
    }
    h3{
        font-size: 2rem;
    }
    p{
        padding: 1rem;
    }
    /*header*/
    header .katariba-logo{
        width: 5rem;
    }
    .sns-img{
        width: 2rem;
    }
    .sanka-button{
        width: 7rem;
        height: 2rem;
        border-radius: 4px;
        overflow: hidden;
    }
    .insta-logo{
        border-radius: 6px;
    }
    span{
        font-size: 2rem;
    }
    .main-copy{
        position: absolute;
        left: 50%;
        top: 60%;
    }

    /*profile*/
    .profile-inner{
        flex-direction: column;
    }
    .profile-left{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .profile-right{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .profile-right h4{
        margin: 0;
    }
    .profile-right p{
        margin: 0;
        padding: 5px;
    }
    .name{
        padding: 1rem;
    }
    .mottosiru img{
        width: 40%;
    }

    /*story*/
    .story p{
        margin: 0.5rem;
        padding: 0.5rem;
    }

    /*naiyou*/
    .naiyou-inner{
        flex-direction: column;
    }
    .naiyou-left{
        width: 100%;
    }
    .naiyou-right{
        width: 100%;
    }
    .ryoukin img{
        width: 50%;
    }
    .naiyou p{
        margin: 0.5rem;
        padding: 0.5rem;
    }

    /*参加方法*/
    .sankahouhou p{
        margin: 0.5rem;
        padding: 0;
    }
	
	 /*hoverアニメーション無効*/
  .sanka-button:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: none;
    transition-duration: none;
  }
  .mottosiru img:hover{
    /*box-shadow: 10px 10px 10px rgba(0,0,0,0.5);*/
    transform: none;
    transition-duration: none;
  }

  .sns-img:hover{
    transform: none;
    transition-duration: none;
  }

}
